.chat-bot{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.chatbot-toggler {
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background: #5B8C51;
    border-radius: 50%;
    transition: all 0.2s ease;
}
 
.show-chatbot .chatbot-toggler{
    transform: rotate(90deg);
}


.chatbot-toggler span {
    position: absolute;
}

.chatbot-toggler span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 5px 10px #888888;
    transition: all 0.1s ease;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header {
    background: #5B8C51;
    padding: 16px 0;
    text-align: center;
    position: relative;
}


.chatbot header h2 {
    color: #fff;
    font-size: 1.4rem;
}

.chatbot header span {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);
}

.chatbot .chatbox {
    height: 410px;
    overflow-y: auto ;
    padding: 30px 20px 70px;
}
.chatbox .chat{
    display: flex;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;;
    color: #fff;
    align-self: flex-end;
    background: #5B8C51;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .chat p{
    color: #fff;
    max-width: 75%;
    white-space: pre-wrap;
    font-size: 0.95rem;
    padding: 12px;
    border-radius: 10px 10px 0 10px;;
    background: #5B8C51;
}

.chatbox .incoming p {
    color: #000;
    background-color: #f2f2f2;
    border-radius: 10px  10px  10px 0;
    text-align: left;
}

.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width:100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}

.chat-input textarea{
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    max-height: 180px;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}

.chat-input span{
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #5B8C51;
    font-size: 1.5rem;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

@media(max-width: 490px){
    .chatbot{
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .chatbot .chatbox {
        height: 90%;

    }
    .chatbot header span {
        display: block;
    }
}

.chatbox .chat p.error{
    color: #721c24;
    background: #f8d7da;
}